.accordion {
    display: inline-block;
    border: 1px solid #53de86;
    padding: 5px
}

.title {
    cursor: pointer;
}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: #a7f1eb;
}